<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{d-M-yy HH:mm:ss.SSS,Europe/Amsterdam} %cyan(%t) %magenta(%p) %green(%c) %replace(%msg){'\n|\r', '_'}%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="com.mobiquity" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
